@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.woff2") format("woff2"),
    url("./assets/fonts/Helvetica.woff") format("woff"),
    url("./assets/fonts/Helvetica.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
